
.product_gallery_principal {

    background-color: none;

    
}

.grid {
        
    display: grid;
    
    height: 550px;
    width: 890;
         
        
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 5fr);
       
}

div .grid {

     
    border: none;

     
}

.pulpo {

    grid-column: 1;
    grid-row:1;

    box-sizing: border-box;
    
          

}

.img1 {
       
    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 25%;
    padding: 0% 0% 5% 5%;
    
}

.film {

    grid-column: 2;
    grid-row:1;

    box-sizing: border-box;
    
     
}

.img2 {
    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 40%;

    padding: 0% 5% 5% 5%;
}
.camiseta1 {

    grid-column: 3;
    grid-row: 1;

    box-sizing: border-box;
    
}

.img3 {

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 25%;
    padding: 0% 5% 5% 5%;
}
.camiseta2 {

    grid-column: 4;
    grid-row: 1;

    box-sizing: border-box;
    
}

.img4{

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 15%;
    padding: 0% 5% 5% 5%;
}

.gorra {

    grid-column: 5;
    grid-row: 1;

    box-sizing: border-box;
        
}

.img5 {
    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 65%;

    padding: 0% 0% 5% 5%;

}
.puzzle {

    grid-column: 1;
    grid-row: 2;


    box-sizing: border-box;
    
}

.img6 {

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 35%;

    padding: 5% 5% 5% 5%;
}

.muñecas {

    grid-column: 2 ;
    grid-row:  2;

    box-sizing: border-box;
    
}

.img7 {

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 110%;
    padding: 5% 5% 5% 5%;
}

.mochila {

    grid-column: 3;
    grid-row: 2;

    box-sizing: border-box;
    
}

.img8 {

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 35%;
    padding: 5% 5% 5% 5%;
}

.bolsa_playa {

    grid-column: 4;
    grid-row: 2;

    box-sizing: border-box;
   
}

.img9 {
    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 35%;
    padding: 5% 5% 5% 5%;
}
.bañador {

    grid-column: 5;
    grid-row: 2;

    box-sizing: border-box;
    
    
}

.img10{
    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 35%;
    padding: 5% 5% 5% 0%;
}
.disfraz {

    grid-column: 1;
    grid-row: 3;

    box-sizing: border-box;
    
    
}

.img11{

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 25%;

    padding: 5% 0% 0% 5%;
}
.caja_musical {

    grid-column: 2;
    grid-row: 3;

    box-sizing: border-box;
    
}

.img12 {

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 45%;
    padding: 5% 5% 0% 5%;
}
.chaqueta {

    grid-column: 3;
    grid-row: 3;

    box-sizing: border-box;
    
}

.img13 {

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 35%;
    padding: 5% 5% 0% 5%;
}
.sudadera {

    grid-column: 4;
    grid-row: 3 ;

    box-sizing: border-box;
    
}

.img14{

    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 25%;
    padding: 5% 5% 0% 5%;
}
.pijama {

    grid-column: 5;
    grid-row: 3;

    box-sizing: border-box;
    
}

.img15 {
    max-width: 150px;
    max-height: 160px;
    align-items: center;
    size: 25%;
    padding: 5% 5% 0% 0%;
}