
.formulario {
    
    box-sizing: 90%;

    background-color: linear-gradient(180deg, #4284B4 0%, #FFFFFF 91.15%);
    border: none;

}

h1 {

    color: blue;
    font-family: Inter;
    text-align: center;

}

input[type="text"] {

    width: 40%;
    border: black;
    background-color: white;
}